.main-Password {
  display: flex;
  flex-direction: column;
  width: 418px;
  padding-left: 32px;
  padding-right: 32px;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 1;
}

.setBackgroundPass {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  background-image: url("../asset/image/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding-top: 48px;
}
.setBackgroundPass::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100vh;
  min-width: 100vw;
  background-color: black;
  opacity: 0.7;
}

.imgPassword {
  padding-top: 50px;
  text-align: center;
}

.setSpaceBtn {
  width: 100%;
}
.createPassword-btn {
  background-color: #1a94ff;
  color: #ffffff;
  height: 40px;
  width: 100%;
  border-radius: 4px;
  border: none;
  margin-bottom: 13vh;
}

.set-border {
  width: 100%;
}
#passIputid {
  height: 40px;
  margin-bottom: 30px;
  width: 100%;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
}
#userid {
  height: 40px;
  margin-bottom: 20px;
  width: 100%;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
}
.setSpaceInput {
  text-align: left;
}

.setBoldText {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
  padding-top: 30px;
}
