.main-login {
  position: absolute;
  width: 518px;
  height: 804px;
  left: 461px;
  top: 48px;
  padding-top: 0px;
  padding-left: 32px;
  padding-right: 32px;
  background: #ffffff;
  /* Elevation-2 */

  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.logoImg {
  position: absolute;
  width: 180px;
  height: 180px;
  left: calc(50% - 180px / 2 + 0.5px);
  top: 94px;
}
.delet-underscore {
  color: rgb(82, 82, 231);
}
.space-between {
  display: flex;
  flex: space-between;
}
.stylePass {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}
.colorTag {
  color: blue;
}
.line-heigh {
  margin-top: 30px;
}

.toLogo {
  padding-top: 32px;
}
.set-border {
  border-radius: 4px;
  border: 1px solid #e0e0e0;
}
a:hover {
  cursor: pointer;
  text-decoration: none;
}
label {
  margin-bottom: 0px;
}
.setBoldText {
  padding-top: 332px;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

input:focus {
  outline: none;
  border: 1px solid #1a94ff;
}
.setBackground {
  position: relative;
  height: 900px;
  width: 100%;
  background-image: url("../asset/image/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7);
}
.setBackground::before {
  content: "";
  position: relative;
  display: block;
  height: 900px;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.7);
}
