.main-loginn {
  position: absolute;
  width: 518px;

  /* left: 461px; */
  top: 48px;
  bottom: 48px;
  padding-top: 64px;
  padding-left: 32px;
  padding-right: 32px;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.container-main {
  position: absolute;
  left: 32px;
  right: 32px;
}
.inValid {
  display: none;
}

.logoImage {
  position: absolute;

  left: 0px;
}
.delet-underscore {
  color: rgb(82, 82, 231);
}
.space-between {
  display: flex;
  flex: space-between;
}
.stylePass {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}
.colorTag {
  color: blue;
}
.line-heigh {
  margin-top: 30px;
}

.marginToLogo {
  margin-top: 154.3px;
}
.set-border {
  border-radius: 4px;
  border: 1px solid #e0e0e0;
}
a:hover {
  cursor: pointer;
  text-decoration: none;
}
label {
  margin-bottom: 0px;
}
input:focus {
  outline: none;
  border: 1px solid #1a94ff;
}
.setBackgroundOne {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("../asset/image/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7);
}
.setBackgroundOne::before {
  content: "";
  position: relative;
  display: block;
  height: 100vh;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.7);
}
