.setBackgroundSS {
  /* background-image: url("../asset/image/background.png"); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("../asset/image/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formMessageSS {
  width: 418px;
  height: calc(100vh- (96px));
  margin-top: 48px;
  margin-bottom: 48px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.logoImg {
  margin-top: 200px;
  text-align: center;
}
.textMessageSS {
  text-align: center;
  margin-top: 40px;
}
.buttonMessageSS {
  height: 50px;
  color: #fff;
  width: 100%;
}
.button-wrapSS {
  padding-left: 32px;
  padding-top: 20px;
  padding-right: 32px;
  margin-bottom: 200px;
}
