.threeLayout-one {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nameOption {
  width: 488px;
}
.nameOption:hover {
  border-bottom: 1px solid #1a94ff;
}

.transparentButton {
  background-color: transparent;
  padding-bottom: 15px;
  border: none;
}
.transparentButton:focus {
  outline: none;
  border: none;
}
.transparentButton:hover {
}
.transparentButton:active {
  background-color: rgb(223, 219, 219);
}
