.wrapper-notification {
  position: relative;
  min-width: 484px;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 16px;
}
.description {
  font-weight: normal;
  padding-top: 50px;
}
.textNotifi {
  width: 100%;
  padding-bottom: 85px;
  font-weight: bold;
  font-size: 20px;
  padding-left: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 24px;
}
.bottomNotification {
  border-top: 1px solid #ebebf0;
  display: flex;
  padding: 8px 16px 8px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  font-size: 16px;
  padding-right: 16px;
}
.cancel {
  margin-right: 10px;
}

.container-psuedo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}
.btn-block {
  width: 100px ;
}
